.Weather form{
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;

}
.search{
    width:35%;
    height:42px ;
    border-radius:10px;
    margin-right: 10px;
    
}
.button{
    background:#8FB9DB;
    color : white;
    font-size: large;
    padding:  1% 2%;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    margin:10px;

}

h2,h1{
    text-align: center;
    margin: 0;
    
}
h2{
    font-weight: 100;
}
.Rain-icon{
    text-align: center;
}
.Weather ul{
    list-style: none;
    font-weight: 500;
    
}
.Weather .temp{
    font-size: 24px;
    font-weight: 900;
}
